@inject NavigationManager NavigationManager
<div class="top-row pl-4 navbar navbar-dark">
  <a class="navbar-brand" href="">AdventOfCode2020</a>
  <button class="navbar-toggler" @onclick="ToggleNavMenu">
    <span class="navbar-toggler-icon"></span>
  </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
  <ul class="nav flex-column">
    <li class="nav-item px-3">
      <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
        <span class="oi oi-home" aria-hidden="true"></span> Home
      </NavLink>
    </li>
    <li class="nav-item px-3">
      <div class="nav-link">
        <span class="oi oi-aperture" style="color:white;" aria-hidden="true"></span>
        <select class="nav-select" @onchange="HandleDayPicked">
          <option value="">- Pick a day - </option>
          @for (var i = 1; i < 4; i++) {
            <option value="@(i.ToString("0#"))">Day @i</option>
          }
        </select>
      </div>
    </li>
  </ul>
</div>

@code {
  private bool collapseNavMenu = true;

  private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

  string selectedDay;

  private void ToggleNavMenu() {
    collapseNavMenu = !collapseNavMenu;
  }

  void HandleDayPicked(ChangeEventArgs e) {
    Console.WriteLine($"Changing to {e.Value}");
    if (string.IsNullOrWhiteSpace($"{e.Value}")) { return; }
    NavigationManager.NavigateTo($"day{e.Value}");
  }
}
