@Title

@ProblemStatement1
<p>Part 1: <span @onclick="_ => ShowAnswer(1)" style="@(!showAnswer1 ? "cursor: pointer" : "")">@answer1</span></p>

@if (showAnswer1) {
  @Solution1
}

<hr />

@ProblemStatement2
<p>Part 2: <span @onclick="_ => ShowAnswer(2)" style="@(!showAnswer2 ? "cursor: pointer" : "")">@answer2</span></p>
@if (showAnswer2) {
  @Solution2
}


@code {
  [Parameter] public RenderFragment Title { get; set; }
  [Parameter] public RenderFragment ProblemStatement1 { get; set; }
  [Parameter] public RenderFragment Solution1 { get; set; }
  [Parameter] public RenderFragment ProblemStatement2 { get; set; }
  [Parameter] public RenderFragment Solution2 { get; set; }

  [Parameter] public Func<string> GetAnswer1 { get; set; }
  [Parameter] public Func<string> GetAnswer2 { get; set; }

  string answer1 = "Show Answer", answer2 = "Show Answer";
  bool showAnswer1, showAnswer2;

  void ShowAnswer(int curPart) {
    if (curPart == 1) {
      answer1 = GetAnswer1.Invoke();
      showAnswer1 = true;
    } else {
      answer2 = GetAnswer2.Invoke();
      showAnswer2 = true;
    }
  }
}
